stages:
  - test-build

build_job:
  image: node:20
  stage: test-build 
  script:
    - echo "Building on push to MR..."
    - cd client
    - npm install --legacy-peer-deps
    - rm -rf .next
    - npm run build
  only:
    - merge_requests

build_on_push:
  image: node:18
  stage: test-build
  script:
    - echo "Building on push to MR..."
    - cd client
    - npm install --legacy-peer-deps
    - rm -rf .next
    - npm run build
  only:
    - branches
  except:
    - main
