@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../public/fonts/Jost-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #121217;
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0) !important;
  -webkit-text-fill-color: #9e9eb8 !important;
  caret-color: #9e9eb8 !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-moz-autofill {
  background-color: transparent !important;
}

.input-wrapper:has(input:focus) {
  background-color: #343456;
}

.container {
  max-width: 1600px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 6, 74%, 37%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --background-secondary: 20, 3%, 17%;
    --success: 120, 60%, 50%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --black-1: 240, 12%, 8%;
    --black-2: 240, 15%, 19%;
    --black-3: 240, 25%, 27%;
    --light-purple-1: 240, 15%, 67%;
    --blue-1: 207, 90%, 54%;
    --blue-2: 206, 55%, 43%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 0, 0%, 100%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
